<%#
<footer>
  <div class="container">

    <div class="row">
      <div class="col-lg-3 col-md-3">
        <p>hoge</p>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->
</footer>
%>

<div class="footer-after">
  <div class="container">
    <div class="row">
      <p class="col-md-10">©2014 All rights reserved. Designed by John Doe. Customized by yuuki-arc.</p>
    </div><!-- /.row -->
  </div>
</div>

<% if build? %>
  <%= javascript_include_tag 'ptengine' %>
  <%= google_analytics_universal_tag %>
<% end %>

</body>
</html>
