<% permalink = data.site.url + article.url %>
<% blog_title = "#{article.title + ' - ' unless article.nil?}#{data.site.title}" %>

<div class="share-normal">
  <div class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-via="yuuki_arc">Tweet</a></div>
  <div class="facebook"><div class="fb-like" data-href="<%= permalink %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></div>
  <div class="hatena"><a href="http://b.hatena.ne.jp/entry/yuukiar.co" class="hatena-bookmark-button" data-hatena-bookmark-title="yuukiar.co" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a></div>
  <div class="gplus"><div class="g-plusone" data-size="medium"></div></div>
  <div class="pocket"><a data-pocket-label="pocket" data-save-url="<%= permalink %>" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a></div>
</div>



<%# google+ %>
<script type="text/javascript">
  (function() {
    var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
    script.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
  })();
</script>



<%# twitter %>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<%# facebook %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=258670484329443&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%# hatena %>
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<%# pocket %>
<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
