<% if content_for?(:list_title) %>
  <% list_title = yield_content(:list_title) %>
<% end %>
<%= partial "layouts/header", :locals => { list_title: list_title } %>

<div class="section-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">Blog</h1>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">

  <%#
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Blog</li>
  </ol>
  %>

  <div class="row">

    <div class="col-md-8 col-sm-8">
      <%= yield %>
    </div>

  </div><!-- /.row -->

</div><!-- /.container -->

<%= partial "layouts/footer" %>
