/*
 *= require bootstrap
 *= require style
 */

@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300);


/* 全体レイアウト */
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 982px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1186px;
  }
}

/* 記事中のコードハイライト */
pre {
  padding: rem-calc(12) rem-calc(10) rem-calc(12) rem-calc(10) ;
  margin-bottom: rem-calc(24);
  line-height: rem-calc(22);
  @include border-radius(6px);
  font-family: 'Source Code Pro', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  span {
    font-family: 'Source Code Pro', sans-serif !important;
    font-weight: lighter !important;
  }
}

/* タイトルフォント */
.navbar-inverse .navbar-brand,
.footer-brand {
  font-family: 'Nunito', sans-serif;
}

/* ページヘッダー */
.page-header {
  visibility: hidden;
  margin: 0;
}

/* 記事中にある画像のレスポンシブ対応 */
.post img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* 記事中にある画像のレスポンシブ対応（floatコンテンツ） */
.post img.float-right-img {
  display: inline;
  float: right;
  padding: 8px 5px 8px 8px;
}
@media (min-width: 0px) {
  .post img.float-right-img {
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .post img.float-right-img {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .post img.float-right-img {
    max-width: 75%;
  }
}

@media (min-width: 1200px) {
  .post img.float-right-img {
    max-width: 100%;
  }
}



/* フォントサイズをデフォルトテンプレートよりも大きくする */
body {
  font-size: 16px;
  line-height: 28px;
  color: #333333;
}

p {
  line-height: 28px;
}

h1, h2 {
  line-height: 48px;
  border-bottom: 1px solid gray;
}

h1.post-title, h2.post-title {
  line-height: 36px;
}

div.list-posts ul {
  font-size: 16px;
}

div.list-posts ul li a {
  padding: 5px 15px;
}

.tags-article-header a {
  padding: 0 10px 2px;
  margin: 0;
}

.tags a {
  padding: 0 10px 2px;
  margin: 1px;
  line-height: 20px;
/*
  font-size: 13px;
  line-height: 20px;
*/
}

.btn {
  font-size: 16px;
}

/* 記事のソーシャルボタン */
.share {
  margin: 25px 0 30px 0;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 2em;
}

.share > div {
  margin: 0 2px;
  padding: 2px 10px;
  display: inline-block;
  color: white;
  border-radius: 3px;
  border-bottom: 2px solid #0060e6;
  vertical-align: middle;
}

@media (max-width: 480px) {
  .share > div {
    font-size: 18px;
    width: 50px;
    margin: 0 0px;
    padding: 8px 10px;
    text-align: center;
  }
  .share > div > a > span {
    display: none;
  }
}

.share > div:hover {
  opacity: 0.7;
}

.share > div > a {
  color: white;
}

.share .twitter {
  background: #55acee;
}

.share .facebook {
  background: #3b5998;
  letter-spacing: 0px;
}

.share .hatena {
  background: #008fde;
  letter-spacing: 2px;
}

.fa-hatena {
  font-weight: bold;
}

.share .gplus {
  background: #dd4b39;
  border-bottom: 2px solid darkred;
}

.share .pocket {
  background: #ee4056;
  border-bottom: 2px solid darkred;
}

/* About */
.profile-image {
  margin-right: 10px;
}
/* サイドバーのソーシャルアイコン */
.social-networks div.icon-social.icon-social-github.normal {
  background: #171515;
}

.social-networks div.icon-social.hover {
  color: #000000;
  background: #fafafa;
}

/* サイドバーのGoogleカスタム検索 */
div.gsc-control-cse {
  padding-top: 0;
  background-color: #fafafa;
  border-color: #fafafa;
}
td.gsc-search-button input.gsc-search-button-v2 {
	border-color: #ffffff !important;
	background-color: #1abc9c !important;
	background-image: none !important;
}

form.gsc-search-box input[type=image] {
	margin: 0 2px !important;
	padding: 12px 18px !important;
}

/* お知らせ欄 */
.section-colored {
  padding: 0;
}

.section-colored a {
  color: #23ffd3;
}

/* Appsページ用インライン画像 */
img.apps-img {
  display: inline !important;
  padding: 4px !important;;
}

/* Youtube埋め込みのレスポンシブ対応 */
.youtube-iframe-box {
  position: relative;
  padding-top: 55%;
  width: 99%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    max-width: 640px;
    max-height: 480px;
  }
}
