/*
 *= require bootstrap
 *= require style
 */

@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Righteous&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300);

.navbar-inverse .navbar-brand,
.footer-brand {
  font-family: 'Source Code Pro', sans-serif;
}

pre {
  padding: rem-calc(12) rem-calc(10) rem-calc(12) rem-calc(10) ;
  margin-bottom: rem-calc(24);
  line-height: rem-calc(22);
  @include border-radius(6px);
  font-family: 'Source Code Pro', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  span {
    font-family: 'Source Code Pro', sans-serif !important;
    font-weight: lighter !important;
  }
}

div.list-posts ul{
  font-size: 16px;
}

div.list-posts ul li a{
  padding: 5px 15px;
}

.post img {
  display: block;
  height: auto;
  max-width: 100%;
}

.tags-article-header a{
  padding: 0 10px 2px;
  margin: 0;
}

.tags a{
  font-size: 13px;
  line-height: 20px;
}

body {
  font-size: 16px;
  line-height: 28px;
}

p {
  line-height: 28px;
}

h1, h2 {
  line-height: 48px;
}

.btn {
  font-size: 16px;
}
