---
title: アプリ情報
nav: apps
date: 2014-12-10
tags: ゲーム,スマホアプリ
---

<% content_for :list_title do "Apps" end %>

### みくもバースト！

<div class="post">
<img src="/img/app_icon_mikumo-burst.png">
</div>

* ジャンル： タップ連打系バトルゲーム
* 価格　　： 無料

<br>
<p style="font-size:smaller">
※キャラクター使用について<br>
「[美雲このは](https://www.conoha.jp/blog/conoha#conoha5)」
「[美雲あんず](http://cloud.gmo.jp/anzu/#section07)」
のキャラクター使用のガイドラインを遵守して使用しています。<br>
また、これらのキャラクター画像の再使用を禁じます。<br>
(c)GMO Internet, Inc.
</p>
