---
title: アプリ情報
nav: apps
date: 2014-12-10
tags: ゲーム,スマホアプリ
---

<% content_for :list_title do "Apps" end %>

## アプリ情報

### みくもバースト！

<div class="post">
<img src="/img/app_icon_mikumo-burst.png">
</div>

* ジャンル： タップ連打系バトルゲーム
* 価格　　： 無料
