---
layout: layout_single
title: みくもバースト！
nav: app
---

<div class="container container-int">


  <div class="row">

    <div class="col-md-11 col-sm-11">


    <h1 class="post-title"><a href="./">みくもバースト！</a></h1>
    <p class="post-meta">
  <i class="fa fa-calendar-o first"></i> 2014-12-10

  <i class="fa fa-tags"></i>
  <span class="tags tags-article-header">
    <a href="/blog/tags/mac/">ゲーム</a>
    <a href="/blog/tags/virtualbox/">スマホアプリ</a>
    <a href="/blog/tags/mavericks/">Cocos2d-x</a>
</span>
</p>

    <div class="share">
  <div class="twitter"><a href="http://twitter.com/intent/tweet?url=http://yuukiar.co/blog/2014/09/07/mac-os-x-mavericks-in-virtualbox/&amp;text=VirtualBoxで仮想Mac OS X(Mavericks)環境を構築する - yuukiar.co" target="_blank"><i class="fa fa-twitter"></i><span> twitter</span></a></div>
  <div class="facebook"><a href="http://www.facebook.com/sharer.php?u=http://yuukiar.co/blog/2014/09/07/mac-os-x-mavericks-in-virtualbox/&amp;t=VirtualBoxで仮想Mac OS X(Mavericks)環境を構築する - yuukiar.co" target="_blank"><i class="fa fa-facebook-square"></i><span> facebook</span></a></div>
  <div class="hatena"><a href="http://b.hatena.ne.jp/add?mode=confirm&amp;url=http://yuukiar.co/blog/2014/09/07/mac-os-x-mavericks-in-virtualbox/&amp;title=VirtualBoxで仮想Mac OS X(Mavericks)環境を構築する - yuukiar.co" target="_blank"><i class="fa fa-hatena">B!</i><span> はてブ</span></a></div>
  <div class="gplus"><a href="https://plus.google.com/share?url=http://yuukiar.co/blog/2014/09/07/mac-os-x-mavericks-in-virtualbox/&amp;title=VirtualBoxで仮想Mac OS X(Mavericks)環境を構築する - yuukiar.co" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><i class="fa fa-google-plus"></i><span> google+</span></a></div>
  <div class="pocket"><a href="http://getpocket.com/edit?url=http://yuukiar.co/blog/2014/09/07/mac-os-x-mavericks-in-virtualbox/&amp;title=VirtualBoxで仮想Mac OS X(Mavericks)環境を構築する - yuukiar.co" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><i class="fa fa-chevron-down"></i><span> Pocket</span></a></div>
</div>


<p><img src="/apps/images/mikumo-burst/header.png" /></p>
<h2 id="ストーリー">ストーリー</h2>
<p>
  異世界、平和に暮らしていたにゃんこたちが突然何者かの手によって姿を変えられてしまった。<br>
  異世界に飛ばされたデータセンターの座敷わらし「このは」と「あんず」の美雲姉妹はこれを救うべく立ち上がった...！
</p>
<h2 id="ゲーム概要">ゲーム概要</h2>
  画面をひたすらタップしてハイスコアを競うゲームです。<br>
  プレイヤーが最低限覚えておくことはたった２つ。<br>
  10秒間のバトルということ、ひたすらタップすることだけ。<br>
  <br>
  タップするとバーストゲージが増えていきます。<br>
  ゲージが一定値を超えるとバーストパワーが解放されますので、よりハイスコアを目指してください！
</p>
<p>
  <img src="/apps/images/mikumo-burst/ss1.png" />&nbsp;&nbsp;
  <img src="/apps/images/mikumo-burst/ss2.png" />&nbsp;&nbsp;
  <img src="/apps/images/mikumo-burst/ss3.png" />&nbsp;&nbsp;
</p>
<h2 id="クレジット">クレジット</h2>
<p>
  各種素材を提供して頂いたサイト様一覧です。<br>
  ありがとうございます。<br>
  (順不同)
</p>
<ul>
  <li><a href="http://darts.kirara.st/m/">星乃だーつ　グーテンベルグの娘</a></li>
  <li><a href="http://game-icons.net/">Game-icons.net</a></li>
  <li><a href="http://maoudamashii.jokersounds.com/">魔王魂</a></li>
  <li><a href="http://material.stksa.net/">音声素材屋マテリュボックス</a></li>
  <li><a href="http://oden.zashiki.com/">NERAD</a></li>
  <li><a href="http://www.aquamary.com/">(c)aquamary images</a></li>
  <li><a href="https://www.gamedevmarket.net/">GameDev Market</a></li>
  <li><a href="http://www.vita-chi.net/sozai1.htm">びたちー素材館</a></li>
  <li><a href="http://toriho-dai.com/">フリー素材「取り放題.com」</a></li>
  <li><a href="http://inatsuka.com/extra/haranyan/">はらませにゃんこ</a></li>
  <li><a href="http://jikasei.me/font/rounded-mgenplus">Rounded Mgen+</a></li>
</ul>

<h2 id="キャラクター使用について">キャラクター使用について</h2>
<p>
    「<a href="https://www.conoha.jp/blog/conoha#conoha5">美雲このは</a>」「<a href="http://cloud.gmo.jp/anzu/#section07">美雲あんず</a>」のキャラクター使用のガイドラインを遵守して使用しています。<br>
    また、これらのキャラクター画像の再使用を禁じます。©GMO Internet, Inc.
</p>

<h2 id="その他">その他</h2>
プログラミング生放送（プロ生）主催の<a href="http://pronama.github.io/mascot-apps-contest/2014/" target="_blank">マスコットアプリ文化祭 2014</a>に応募してます！


    <div class="share">
  <div class="twitter"><a href="http://twitter.com/intent/tweet?url=http://yuukiar.co/blog/2014/09/07/mac-os-x-mavericks-in-virtualbox/&amp;text=VirtualBoxで仮想Mac OS X(Mavericks)環境を構築する - yuukiar.co" target="_blank"><i class="fa fa-twitter"></i><span> twitter</span></a></div>
  <div class="facebook"><a href="http://www.facebook.com/sharer.php?u=http://yuukiar.co/blog/2014/09/07/mac-os-x-mavericks-in-virtualbox/&amp;t=VirtualBoxで仮想Mac OS X(Mavericks)環境を構築する - yuukiar.co" target="_blank"><i class="fa fa-facebook-square"></i><span> facebook</span></a></div>
  <div class="hatena"><a href="http://b.hatena.ne.jp/add?mode=confirm&amp;url=http://yuukiar.co/blog/2014/09/07/mac-os-x-mavericks-in-virtualbox/&amp;title=VirtualBoxで仮想Mac OS X(Mavericks)環境を構築する - yuukiar.co" target="_blank"><i class="fa fa-hatena">B!</i><span> はてブ</span></a></div>
  <div class="gplus"><a href="https://plus.google.com/share?url=http://yuukiar.co/blog/2014/09/07/mac-os-x-mavericks-in-virtualbox/&amp;title=VirtualBoxで仮想Mac OS X(Mavericks)環境を構築する - yuukiar.co" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><i class="fa fa-google-plus"></i><span> google+</span></a></div>
  <div class="pocket"><a href="http://getpocket.com/edit?url=http://yuukiar.co/blog/2014/09/07/mac-os-x-mavericks-in-virtualbox/&amp;title=VirtualBoxで仮想Mac OS X(Mavericks)環境を構築する - yuukiar.co" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><i class="fa fa-chevron-down"></i><span> Pocket</span></a></div>
</div>

    </div>

  </div><!-- /.row -->

</div><!-- /.container -->
