---
title: タップ連打系バトルゲーム「みくもバースト！」
nav: apps
date: 2014-12-10
tags: ゲーム,スマホアプリ,美雲このは,美雲あんず,Cocos2d-x
---

<% content_for :info do %>
<h3>最新情報</h3>
<ul>
  <li>(2014-12-19)： ブログに<a href="/blog/2014/12/19/apps-release-mikumo-burst/">「みくもバースト！」アプリ制作のこと</a>の記事を更新しました。</li>
  <li>(2014-12-17)： 最新情報と今後の予定を載せました。</li>
  <li>(2014-12-10)： Android版を公開しました。</li>
</ul>
<h3>今後の予定</h3>
<ul>
  <li>(12月下旬〜1月初旬予定)： ストーリーモードの追加</li>
</ul>
</h2>
<% end %>

---

## アプリ情報

![みくもバースト！](mikumo-burst/header.png)

* タイトル： みくもバースト！
* ジャンル： タップ連打系バトルゲーム
* 価格　　： 無料
* 公開日　： 2014年12月10日
* 対応機種： Android 2.3以上 / iPhone,iPad(申請中)

<a href="https://play.google.com/store/apps/details?id=co.yuukiar.mikumo_burst2">
<img alt="Get it on Google Play"
src="https://developer.android.com/images/brand/ja_generic_rgb_wo_60.png" />
</a>

## ストーリー

異世界、平和に暮らしていたにゃんこたちが突然何者かの手によって姿を変えられてしまった。
異世界に飛ばされたデータセンターの座敷童子「このは」と「あんず」はこれを救うべく立ち上がった...！

## ゲーム概要

画面をひたすらタップしてハイスコアを狙うゲームです。
プレイヤーが最低限覚えておくことはたった２つ。
10秒間のバトルということ、ひたすらタップすることだけ。

タップするとバーストゲージが増えていきます。
ゲージが一定値を超えるとバーストパワーが解放されますので、よりハイスコアを目指してください！

<img src="/img/mikumo-burst/ss1.png" class="apps-img" />
<img src="/img/mikumo-burst/ss2.png" class="apps-img" />
<img src="/img/mikumo-burst/ss3.png" class="apps-img" />

<div class="youtube-iframe-box">
<iframe width="640" height="480" src="//www.youtube.com/embed/sLfkZGFXpWI?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

## 関連情報

プログラミング生放送（プロ生）主催の[マスコットアプリ文化祭 2014](http://pronama.github.io/mascot-apps-contest/2014/)に応募してます！

---

## キャラクター使用について

「[美雲このは](https://www.conoha.jp/blog/conoha#conoha5)」
「[美雲あんず](http://cloud.gmo.jp/anzu/#section07)」
のキャラクター使用のガイドラインを遵守して使用しています。
また、これらのキャラクター画像の再使用を禁じます。
(c)GMO Internet, Inc.

## クレジット

各種素材を提供して頂いたサイト様一覧です。
ありがとうございます。
(順不同)

### グラフィック
* NERAD（by メガネ）： http://oden.zashiki.com/
* びたちー素材館（by ちぃ）： http://www.vita-chi.net/sozai1.htm
* グーテンベルグの娘（by 星乃だーつ）： http://darts.kirara.st/m/
* aquamary images（by (c)aquamary images）： http://www.aquamary.com/
* Game-icons.net（by game-icons.net）： http://game-icons.net/
* GameDev Market： https://www.gamedevmarket.net/
* フリー素材「取り放題.com」： http://toriho-dai.com/

### サウンド・SE・CV
* 音楽素材/魔王魂（by (c)JokerSounds）： http://maoudamashii.jokersounds.com/
* 音声素材屋マテリュボックス（by 柳あすみ）： http://material.stksa.net/

### フォント
* はらませにゃんこ（by 稲塚 春）： http://inatsuka.com/extra/haranyan/
* Rounded Mgen<sup>+</sup>（by MM）： http://jikasei.me/font/rounded-mgenplus

## ライセンス
本アプリは下記のライセンスで配布される成果物を含んでいます。

* Game-icons.net ([Creative Commons 3.0 BY license](http://creativecommons.org/licenses/by/3.0/))
* Rounded Mgen<sup>+</sup> ([Apache License, Version 2.0](http://www.apache.org/licenses/LICENSE-2.0))
* PicoJSON ([2-clause BSD license](/apps/license/picojson/LICENSE))
