---
title: タップ連打系バトルゲーム「みくもバースト！」
nav: apps
date: 2014-12-10
tags: ゲーム,スマホアプリ,美雲このは,美雲あんず,Cocos2d-x
---

<% content_for :info do %>
<h3>最新情報</h3>
<ul>
  <li><span class="new">(2015-05-21)</span>： <a href="https://schoo.jp/class/2428">【appC cloud school】Cocos シリーズ vol.2 </a> にゲスト出演します。＜放送日：5/29(金)＞
  <li><span class="new">(2015-05-21)</span>： Androidアプリを更新しました。（Android 5.0以降対応、SDカードアプリインストール対応）</li>
  <li><span class="new">(2015-05-21)</span>： 今後の予定、掲載情報を更新しました。</li>
  <li>(2015-01-14)： 掲載情報を追加しました。</li>
  <li>(2015-01-06)： iOS版を公開しました。</li>
  <li>(2014-12-20)： <a href="http://pronama.github.io/mascot-apps-contest/2014/">マスコットアプリ文化祭 2014</a>で「みくも賞」をいただきました！
  <li>(2014-12-19)： ブログに<a href="/blog/2014/12/19/apps-release-mikumo-burst/">「みくもバースト！」アプリ制作のこと</a>の記事を更新しました。</li>
  <li>(2014-12-17)： 最新情報と今後の予定を載せました。</li>
  <li>(2014-12-10)： Android版を公開しました。</li>
</ul>
<h3>今後の予定</h3>
<ul>
  <li>
    ストーリーモードの実装を6月中旬に予定しています。<br>
    お待ちいただいている皆様には大変申し訳ございませんが、
    リリースまで今しばらくお待ちください。
  </li>
</ul>
</h2>
<% end %>

---

## アプリ情報

![みくもバースト！](mikumo-burst/header.png)

* タイトル： みくもバースト！
* ジャンル： タップ連打系バトルゲーム
* 価格　　： 無料
* 公開日　： 2014年12月10日
* 対応機種： Android 2.3以上 / iOS 5.1.1以降

<a href="https://play.google.com/store/apps/details?id=co.yuukiar.mikumo_burst2" target="google_play_store">
  <img alt="Get it on Google Play" src="/img/common/store_badges_GooglePlay.png" class="apps-img">
</a>
<a href="https://itunes.apple.com/jp/app/mikumobasuto!/id950881439?mt=8&auo=4" target="itunes_store">
  <img alt="Available on the App Store" src="/img/common/store_badges_AppStore.png" class="apps-img">
</a>

## ストーリー

異世界、平和に暮らしていたにゃんこたちが突然何者かの手によって姿を変えられてしまった。
異世界に飛ばされたデータセンターの座敷童子「このは」と「あんず」はこれを救うべく立ち上がった...！

## ゲーム概要

画面をひたすらタップしてハイスコアを狙うゲームです。
プレイヤーが最低限覚えておくことはたった２つ。
10秒間のバトルということ、ひたすらタップすることだけ。

タップするとバーストゲージが増えていきます。
ゲージが一定値を超えるとバーストパワーが解放されますので、よりハイスコアを目指してください！

<img src="/img/mikumo-burst/ss1.png" class="apps-img" />
<img src="/img/mikumo-burst/ss2.png" class="apps-img" />
<img src="/img/mikumo-burst/ss3.png" class="apps-img" />

## ゲーム紹介動画

<div class="youtube-iframe-box">
<iframe width="640" height="480" src="//www.youtube.com/embed/EARHhdD_WjM?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="youtube-iframe-box">
<iframe width="640" height="480" src="//www.youtube.com/embed/sLfkZGFXpWI?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

## 関連情報

* schoo WEB-campusにて、とのさまラボ企画・放送の「appC cloud school」にゲスト出演します。
  - <span style="font-size:small"><a href="https://schoo.jp/class/2428">デベロッパーさんに聞いてみよう！2Dゲーム開発フレームワークCocos2d-x【appC cloud school】Cocos シリーズ vol.2</a></span></li>
* プログラミング生放送（プロ生）主催の[マスコットアプリ文化祭 2014](http://pronama.github.io/mascot-apps-contest/2014/)に応募してます！
  - [「プログラミング生放送勉強会 第32回＠GMO Yours #マスコットアプリ文化祭」潜入レポート - Conoha](https://www.conoha.jp/blog/conoha/4362.html)
  - → 「みくも賞」をいただきました！ありがとうございました！！

## 掲載情報

「みくもバースト！」について載せてくださったサイト様や動画一覧です。

### アプリ紹介

* [マスコットアプリ文化祭 2014](http://pronama.github.io/mascot-apps-contest/2014/works.html?id=134)
* 放課後アプリ部 ([Android](http://houkago-no.appspot.com/app_detail/6227480448860160) / [iOS](http://houkago-no.appspot.com/app_detail/5948773712789504))
* 予約トップ10 ([iOS](https://yoyaku-top10.jp/u/a/ODkwNA))

### レビュー掲載

* [giveApp](https://giveapp.jp/p/a2837/)
* [excite.ニュース](http://www.excite.co.jp/News/android/20141228/Giveapp_android_pa2837.html)
* [mobilenavi](http://www.mobilenews.jp/article/app/20141228/2670.html)
* [財経新聞](http://www.zaikei.co.jp/article/20141228/228819.html)
* [Yomerumo](http://news.merumo.ne.jp/article/genre/2368492)
* [Yahoo!スマホガイド](http://smartguide.yahoo.co.jp/articles/details/20150108-00002837-giveapp_sg)
* [GameCast iPhone](http://www.gamecast-blog.com/archives/65817163.html)
* [あぷまがどっとねっと](http://appmaga.net/archives/38349)
* [萌えドロイド](http://www.moedroid.jp/110517.html)

### いろいろ

* iPhonePLUS： [今週のiPhone人気無料ゲームアプリベスト10！【あぷまがどっとねっと調べ1／4～1／10】](http://iphone.ascii.jp/2015/01/12/46495/)
* NAVERまとめ： [高橋名人にやってもらいたい!!【みくもバースト】](http://matome.naver.jp/odai/2142056284930514701)
* YouTube（実況動画 14:18）： [【みくバス！】みくもバースト！ 新作ゲーム紹介＆対戦 実況](https://www.youtube.com/watch?v=LPF0BKp6cB4)
* schoo WEB-campus（番組内）：<span style="font-size:small">[はじめてみよう！2Dゲーム開発フレームワークCocos2d-x【appC cloud school】Cocosシリーズ vol.1](https://schoo.jp/class/2270)</span>

---

## キャラクター使用について

「[美雲このは](https://www.conoha.jp/blog/conoha#conoha5)」
「[美雲あんず](http://cloud.gmo.jp/anzu/#section07)」
のキャラクター使用のガイドラインを遵守して使用しています。
また、これらのキャラクター画像の再使用を禁じます。
(c)GMO Internet, Inc.

## クレジット

各種素材を提供して頂いたサイト様一覧です。
ありがとうございます。
(順不同・敬称略)

### グラフィック
* NERAD（by メガネ）： http://oden.zashiki.com/
* びたちー素材館（by ちぃ）： http://www.vita-chi.net/sozai1.htm
* グーテンベルグの娘（by 星乃だーつ）： http://darts.kirara.st/m/
* aquamary images（by (c)aquamary images）： http://www.aquamary.com/
* Game-icons.net（by game-icons.net）： http://game-icons.net/
* GameDev Market： https://www.gamedevmarket.net/
* フリー素材「取り放題.com」： http://toriho-dai.com/

### サウンド・SE・CV
* 音楽素材/魔王魂（by (c)JokerSounds）： http://maoudamashii.jokersounds.com/
* 音声素材屋マテリュボックス（by 柳あすみ）： http://material.stksa.net/

### フォント
* はらませにゃんこ（by 稲塚 春）： http://inatsuka.com/extra/haranyan/
* Rounded Mgen<sup>+</sup>（by MM）： http://jikasei.me/font/rounded-mgenplus

## ライセンス
本アプリは下記のライセンスで配布される成果物を含んでいます。

* Cocos2d-x ([MIT License](http://opensource.org/licenses/mit-license.php))
* Game-icons.net ([Creative Commons 3.0 BY license](http://creativecommons.org/licenses/by/3.0/))
* Rounded Mgen<sup>+</sup> ([Apache License, Version 2.0](http://www.apache.org/licenses/LICENSE-2.0))
* PicoJSON ([2-clause BSD license](/apps/license/picojson/LICENSE))
