<%= partial "layouts/header", :locals => { list_title: "404 Not Found" } %>

<div class="section-colored">

  <div class="container">

    <div class="row">
      <div class="col-md-2 col-sm-3">
        <%= image_tag "monster.png", alt: "monster", class: "img-responsive center-block monster" %>
      </div>
      <div class="col-md-10 col-sm-9">
        <h1>ooops...</h1>
        <h2>It seems the page you were looking for doesn’t exist</h2>
        <h3 class="error-404 text-center">404</h3>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section -->

<%= partial "layouts/footer" %>
