---
layout: layout_blog
---

  <!-- CONTAINER-POSTS -->
  <!--===============================================================-->
  <div class="container">
    <div class="row wrapper-blog">

      <!-- POST-1 -->
      <div class="col-sm-10 col-sm-offset-1">
        <!-- AUTHOR PIC-->
        <div class="row row-post">
          <div class="col-sm-2 hidden-xs">
            <img class="author" src="images/blog/avatar-3.jpg" alt="author">
          </div>
          <!-- POST CONTENT-->
          <div class="col-sm-9">
            <div class="wrapper-post">
              <h1 class="title"><a href="blog-post.html">Sample blog post</a><br>
                <small class="meta">February 11, 2014 by Mark</small>
              </h1>
              <p>Bacon ipsum dolor sit amet do chuck in, kevin minim pork ham hock short ribs landjaeger andouille consequat in officia pig. Shank turkey ground.
              </p>
              <a class="btn btn-flat" href="blog-post.html">READ MORE</a>
            </div>
          </div>
        </div>

        <!-- POST-2 -->
        <div class="row row-post">
        <!-- AUTHOR PIC-->
          <div class="col-sm-2 hidden-xs">
            <img class="author" src="images/blog/avatar-2.jpg" alt="author">
          </div>
          <!-- POST CONTENT-->
          <div class="col-sm-10">
            <div class="wrapper-post">
              <h1 class="title"><a href="blog-post.html">Lorem ipsum</a><br>
                <small class="meta">January 27, 2014 by John</small>
              </h1>
              <p>Ham hock dolore pork doner t-bone officia incididunt beef cillum ad et. Pork loin bresaola short loin, ex qui beef voluptate in excepteur pork chop.
              </p>
              <a class="btn btn-flat" href="blog-post.html">READ MORE</a>
            </div>
          </div>
        </div>

        <!-- POST-3 -->
        <div class="row row-post">
        <!-- AUTHOR PIC-->
          <div class="col-sm-2 hidden-xs">
            <img class="author" src="images/blog/avatar-3.jpg" alt="author">
          </div>
          <!-- POST CONTENT-->
          <div class="col-sm-10">
            <div class="wrapper-post">
              <h1 class="title"><a href="blog-post.html">Best bootstrap theme</a><br>
                <small class="meta">February 11, 2014 by Mark</small>
              </h1>
              <p>Qui proident enim do. Leberkas aliquip incididunt sed boudin tempor t-bone fatback in esse. Kevin ut pork chop, shank duis bacon ex pork belly non dolore salami deserunt pastrami.
              </p>
              <a class="btn btn-flat" href="blog-post.html">READ MORE</a>
            </div>
          </div>
        </div>

        <!-- PAGINATION -->
        <div class="row">
          <div class="col-pgn col-sm-10 col-sm-offset-2">
            <ul class="ul-pgn">
              <li><a class="pgn-active" href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">Next » </a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
