---
layout: layout_blog
nav: blog
---

      <div class="post">
        <h2 class="post-title"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h2>
        <p class="post-meta">
          <i class="fa fa-calendar-o first"></i> January 03, 2013
          <i class="fa fa-user"></i> Admin
          <i class="fa fa-comment"></i> <a href="#">10 comments</a>
        </p>
        <a href="blog-post.html" class="img-post">
          <img src="img/post1.png" alt="post 1" class="img-responsive">
        </a>
        <p>Vestibulum pulvinar lacus eget quam tempor, ultrices venenatis enim fermentum. Suspendisse in tellus sed metus auctor consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tincidunt ut quam non dapibus.</p>
        <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
      </div><!-- /.post -->


      <div class="post">
        <h2 class="post-title"><a href="blog-post.html">Donec consectetur dui ipsum, in mattis dui cursus vitae</a></h2>
        <p class="post-meta">
          <i class="fa fa-calendar-o first"></i> January 03, 2013
          <i class="fa fa-user"></i> Admin
          <i class="fa fa-comment"></i> <a href="#">8 comments</a>
        </p>
        <a href="blog-post.html" class="img-post">
          <img src="img/post2.png" alt="post 2" class="img-responsive">
        </a>
        <p>Vestibulum pulvinar lacus eget quam tempor, ultrices venenatis enim fermentum. Suspendisse in tellus sed metus auctor consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tincidunt ut quam non dapibus.</p>
        <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
      </div><!-- /.post -->

      <div class="post">
        <h2 class="post-title"><a href="blog-post.html">Donec consectetur dui ipsum, in mattis dui cursus vitae</a></h2>
        <p class="post-meta">
          <i class="fa fa-calendar-o first"></i> January 03, 2013
          <i class="fa fa-user"></i> Admin
          <i class="fa fa-comment"></i> <a href="#">8 comments</a>
        </p>
        <a href="blog-post.html" class="img-post">
          <img src="img/post3.png" alt="post 3" class="img-responsive">
        </a>
        <p>Vestibulum pulvinar lacus eget quam tempor, ultrices venenatis enim fermentum. Suspendisse in tellus sed metus auctor consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tincidunt ut quam non dapibus.</p>
        <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
      </div><!-- /.post -->

      <div class="text-center">
        <ul class="pagination">
          <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
        </ul>
      </div><!-- /.text-center -->
