  <!-- INTRO-->
  <!--===============================================================-->
<div id="home">
  <div class="bg-intro">
    <div class="container container-intro">
      <div class="row-intro row">
        <div class="col-sm-5 col-xs-12">
          <h1 class="title-intro animated fadeInDown">YUUKI:ZERO-D</h1>
          <h2 class="subtitle-intro animated fadeInLeft">under construction...</h2>
          <div class="btn-delay animated fadeInUp">
            <a href="#features" class="btn btn-white scroll-smooth">GET STARTED</a>
          </div>
        </div>
        <!-- SLIDER-BROWSER-->
        <!--===============================================================-->
        <div class="col-browser col-sm-7 col-xs-12">
          <div class="col-sl animated fadeInDown">
            <img class="img-browser" src="images/browser-slider/browser.png" alt="browser">
            <div class="wrapper-sl wrapper-browser">
              <ul id="slider-intro" class="slider" >
                <li><img src="images/browser-slider/652x340.gif" alt="slide-1"/></li>
                <li><img src="images/browser-slider/652x340.gif" alt="slide-2"/></li>
              </ul>
                <div class="wrapper-nav">
                  <div class="div-p div-p-browser"><i id="p-intro"></i></div>
                  <div class="div-n div-n-browser"><i id="n-intro"></i></div>
                </div>
            </div>
          </div>
        </div><!-- SLIDER-BROWSER-END-->
      </div>
    </div>
  </div>
</div>

<!-- POSTS -->
<!--===============================================================-->
<div id="news-blog">
  <div class="bg-blog">
    <div class="container">
      <div class="row-blog-header row">
        <div class="col-sm-12">
        <h1 class="header-title">LATEST POSTS</h1>
        <h2 class="subtitle">We have included a fully featured blog page</h2>
        <hr>
        </div>
      </div>
      <div class="row-blog row">
        <div class="col-blog col-sm-4 wow fadeInLeft">
          <img src="images/blog/middleman.png" alt="blog-pic">
          <h1 class="title-blog"><a href="blog-post.html">Portfolio items</a></h1>
          <p class="date-blog">February 11, 2014 by Mark</p>
          <p class="p-blog">Sed feugiat est vel ante vulputate adipiscing. Suspendisse ut blandit lacus. Ut consequat dui eu dolor mollis euismod. Aenean id condimentum mauris. </p>
          <a href="blog-post.html" class="btn btn-flat">Read More   »</a>
        </div>
        <div class="col-blog col-sm-4 wow fadeInUp">
          <img src="images/blog/middleman.png" alt="blog-pic">
          <h1 class="title-blog"><a href="blog-post.html">Pixel perfect</a></h1>
          <p class="date-blog">January 27, 2014 by John</p>
          <p class="p-blog">Sed feugiat est vel ante vulputate adipiscing. Suspendisse ut blandit lacus. Ut consequat dui eu dolor mollis euismod. Aenean id condimentum mauris.</p>
          <a href="blog-post.html" class="btn btn-flat">Read More   »</a>
        </div>
        <div class="col-blog col-sm-4 wow fadeInRight">
          <img src="images/blog/middleman.png" alt="blog-pic">
          <h1 class="title-blog"><a href="blog-post.html">Responsive</a></h1>
          <p class="date-blog">February 11, 2014 by Mark</p>
          <p class="p-blog">Sed feugiat est vel ante vulputate adipiscing. Suspendisse ut blandit lacus. Ut consequat dui eu dbolor mollis euismod. Aenean id condimentum mauris.</p>
          <a href="blog-post.html" class="btn btn-flat">Read More   »</a>
        </div>
      </div><!-- /.row -->
    </div>
  </div>
</div>

  <!-- FOOTER-->
  <!--===============================================================-->
  <div class="bg-footer">
    <div class="container">
      <div class="row row-footer">
        <div class="col-md-12">
          <div class="wrapper-social">
            <a href="#"><i class="fa fa-facebook facebook-footer wow bounce"></i></a>
            <a href="#"><i class="fa fa-twitter twitter-footer wow bounce"  data-wow-delay="0.2s"></i></a>
            <a href="#"><i class="fa fa-github github-footer wow bounce"  data-wow-delay="0.3s"></i></a>
            <a href="#"><i class="fa fa-apple apple-footer wow bounce"  data-wow-delay="0.4s"></i></a>
            <a href="#"><i class="fa fa-android android-footer wow bounce"  data-wow-delay="0.5s"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
